<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ViewModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C99EFD8C1CD74F6300D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFDA01CD74F6300D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFDAB1CD74F6300D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFDC21CD74F7300D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFDCB1CD74F7300D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFDE51CD74FF400D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFDEE1CD74FF400D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFE071CD7501100D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFE101CD7501100D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFE291CD7502200D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFE321CD7502200D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFE4B1CD7509800D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EFE541CD7509800D84D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
